<div class="col-xs-offset-2 col-xs-8">

<h1>会員投稿post/index</h1>

<% @bodies.each do |body| %>
		<div class="panel panel-default">
	  	<div class="panel-body">
			<h3><%= l body.created_at, format: :short %></h3>
			<%= link_to (body.user) do %>
			<%= body.user.name %>
			<% end %>
			<p><%= attachment_image_tag body, :image, :fill, 300, 300, format: 'jpeg' %></p>
			<p>体重: <%= body.body_weight %>kg</p>
			<p>体脂肪率: <%= body.body_fat %>%</p>
			<p>食事メモ: <%= body.memo %></p>
			
		</div>
		</div>
<% end %>

</div>