<!DOCTYPE html>
<html>
  <head>
    <title>NoPainNoGain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" >
                <div class="container">
                    <div class="row">
                        <nav class="nav navbar-nav navbar-left">
                            <nav class="navbar">
                            <h4>NO PAIN NO GAIN</h4>
                            </nav>

                        </nav>

                        <ul class="nav navbar-nav navbar-right">
                            
                                <p class="nav navbar-nav navbar-right">

                                    <% if user_signed_in? %>

                                    <li><%= link_to user_path(current_user) do %>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                                    <% end %></li>
                                    <li><%= link_to posts_path do %>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true">会員全員の投稿</span>
                                    <% end %></li>
                                    <li><%= link_to users_path do %>
                                    <span class="glyphicon glyphicon-book" aria-hidden="true">お気に入りのユーザ一覧</span>
                                    <% end %></li>
                                    <li><%= link_to destroy_user_session_path, method: :delete do %>
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
                                    <% end %></li>

                                    <% else %>
                                    <li><%= link_to root_path do %>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                                    <% end %></li>
                                    <li><%= link_to root_path do %>
                                    <span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
                                    <% end %></li>
                                    <li><%= link_to new_user_registration_path do %>
                                    <span class="glyphicon glyphicon-link" aria-hidden="true">sign up</span>
                                    <% end %></li>
                                    <li><%= link_to new_user_session_path do %>
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true" aria-hidden="true">login</span>
                                    <% end %></li>
                                    <% end %>

                                </div>
                            </p>
                        </ul>
                    </p>
                </div>
            </div>
        </header>
    </div>
    <p>
        <%= yield %>
        
    </p>

</body>
</html>
